<div class="row">
        <div class="col-lg-6">
            <br/><br/>
            <div class="col-md-6 offset-md-7">
                <div>
                    <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)"></webcam>

                </div>
                <div>
                    <div class="actionBtn" (click)="triggerSnapshot();" title="Take Picture">📸</div>
                </div>
                <div>

                    <label>Student Name</label>
                    <input class="form-control" type="text"
                           type="text"
                           [readonly]="true"
                           id="studentName"
                           name="studentName"
                           [ngModel]="studentName"
                           [name]="studentName"

                    />
                    <label>Student NIC</label>
                    <input class="form-control" type="text"
                           type="text"
                           [readonly]="true"
                           id="studentNic"
                           name="studentNic"
                           [ngModel]="studentNic"
                           [name]="studentNic"

                    />

                </div>
                <div>

                    <label>Current Attendance</label>
                </div>
            </div>
        </div>
</div>

<!--<table class="table mat-elevation-z4 text-center">-->
    <!--<thead>-->
    <!--<tr>-->
        <!--<th style="text-align: center">ID no</th>-->
        <!--<th style="text-align: center">First Name</th>-->
        <!--<th style="text-align: center">Last Name</th>-->
        <!--<th style="text-align: center">Email</th>-->

    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr *ngFor="let item of studentDetails">-->
        <!--<td>{{item.id}}</td>-->
        <!--<td>{{item.fname}}</td>-->
        <!--<td>{{item.lname}}</td>-->
        <!--<td>{{item.email}}</td>-->
        <!--&lt;!&ndash;<td>&ndash;&gt;-->
            <!--&lt;!&ndash;<button mat-icon-button&ndash;&gt;-->
                    <!--&lt;!&ndash;color="accent"&ndash;&gt;-->
                    <!--&lt;!&ndash;[routerLink]="['/notary-landregistry-change-request-view',getBase64(flag),getBase64(item.applicationNo)]">&ndash;&gt;-->
                <!--&lt;!&ndash;<mat-icon>chrome_reader_mode</mat-icon>&ndash;&gt;-->
            <!--&lt;!&ndash;</button>&ndash;&gt;-->
        <!--&lt;!&ndash;</td>&ndash;&gt;-->
    <!--</tr>-->
    <!--<tr *ngIf="searchRequest.length==0">-->
        <!--<td colspan="5" class="text-center"><b>{{'ALERT.NO_RESULT'|translate}}</b></td>-->
    <!--</tr>-->
    <!--</tbody>-->
<!--</table>-->
